sphinxcontrib-email
sphinxcontrib-images
sphinxnotes-lilypond
sphinxnotes-any>=2.0a0
sphinx-panels
ablog
sphinx-autobuild
sphinxcontrib.gtagjs
sphinxnotes-snippet
sphinxnotes-strike
sphinxnotes-isso
sphinx-sitemap
sphinxcontrib-plantuml
