# TIP: Use patched requirement::
#
#   name @ git+https://example.com/foo/bar.git#
#
# See: https://pip.pypa.io/en/stable/topics/vcs-support/
sphinxcontrib-email
sphinxcontrib-images>=0.9.3
sphinxnotes-lilypond>=2.0.0
sphinxnotes-any@git+https://github.com/sphinx-notes/any.git@master
sphinx-design
ablog
# https://github.com/sphinx-doc/sphinx-autobuild/pull/143
sphinx-autobuild @ git+https://github.com/SilverRainZ/sphinx-autobuild.git
sphinxcontrib.gtagjs
sphinxnotes-snippet
sphinxnotes-strike
sphinxnotes-isso>=2.0a2
sphinx-sitemap
sphinxcontrib-plantuml
sphinxcontrib.asciinema
sphinx-reredirects
sphinxnotes-recentupdate

# Pinned for "Toggle primary sidebar" issue.
# https://github.com/executablebooks/sphinx-book-theme/issues/865
sphinx-book-theme==1.1.3
pydata-sphinx-theme==0.15.4 

sphinxnotes-mock
sphinxext-opengraph
sphinxnotes-extweb
sphinx-copybutton
sphinx-notfound-page
sphinxcontrib-youtube
sphinx-last-updated-by-git
sphinxnotes-comboroles
sphinxcontrib-globalsubs>=0.1.2
sphinx_simplepdf
sphinxnotes-fasthtml
pyyaml
sphinxnotes-poc@git+https://github.com/sphinx-notes/poc.git@master
