/**************************************************
 * Style for ``.. postlist::`` in /blog/index.rst *
 *************************************************/

/* Beautify date of postlist item */
.postlist > li > p:nth-child(1) {
  font-size: smaller;
}

/* Big and bold post title */
ul.postlist-style-none p:nth-child(1) > .reference {
  font-size: large;
  font-weight: bold;
  font-style: initial;
}

ul.postlist-style-none {
    list-style-type: none;
    padding-left: 0em;
}
