/*********************************************
 * Style for ``.. postlist::`` in /index.rst *
 *********************************************/

/* Combining ``.. toctree::`` and ``.. postlist::`` */
.ablog-toctree ul {
   margin-bottom: 0;
}
ul.postlist-style-disc {
   margin-top: 0;
   font-size: 1rem;
}

/**************************************************
 * Style for ``.. postlist::`` in /blog/index.rst *
 *************************************************/

/* Beautify date of postlist item */
.postlist > li > p:nth-child(1) {
  font-size: smaller;
}

/* Big and bold post title */
ul.postlist-style-none p:nth-child(1) > .reference {
  font-size: large;
  font-weight: bold;
  font-style: initial;
}

ul.postlist-style-none {
    list-style-type: none;
    padding-left: .625em;
}
