/* Center lead text, same as title, see also ./custom.css */
.lead {
    text-align: center;
}

/* Center buttons */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Field list: Do not break line */
dl.field-list {
    display: grid;
    grid-template-columns: fit-content(30%) auto;
}
