/* Center title */
h1 {
    text-align: center;
}
/* Hide headerlink of doctitle */
h1 > a.headerlink {
    display: none;
}

/* Fix text style of figure caption */
figcaption, div.figure p.caption, div.figure div.legend {
    color: #666;
    font-style: italic;
    font-size: smaller;
}

/* Fix blockquote */
.body blockquote {
    color: #888;
    border-left: 4px solid #AAA;
    margin: 0px;
    padding-left: 1em;
}

/* Fix definition list */
.body dt {
    font-weight: bold;
}
