name: Publish Github Pages
on:
  push:
    branches: [master]

jobs:
  gh-pages:
    name: Publish Github Pages
    runs-on: ubuntu-20.04
    steps:
    - name: Setup locale
      run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - name: Install dependencies
      run: |
        sudo apt-get update;
        sudo apt-get install lilypond timidity imagemagick fonts-noto-cjk graphviz plantuml ffmpeg
    - name: Setup python
      uses: actions/setup-python@v2
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        documentation_path: .
        requirements_path: ./requirements.txt
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
