name: Publish Github Pages

on:
  push:
    branches: [master, ci*]
  pull_request:
    branches: [master]

# Cancel any in-progress job or run
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: gh-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      pages: write
      id-token: write
    steps:
    - run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - uses: awalsh128/cache-apt-pkgs-action@master
      with:
        packages: lilypond timidity imagemagick fonts-noto-cjk graphviz plantuml ffmpeg
    - run: | # See also https://github.com/nguyenvulong/QA/issues/82
        sudo ln -s /usr/lib/x86_64-linux-gnu/blas/libblas.so.3 /usr/lib/x86_64-linux-gnu/
        sudo ln -s /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3 /usr/lib/x86_64-linux-gnu
    - id: branch-names
      uses: tj-actions/branch-names@v9
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.PAT_BULLET_BLOBS }}
        submodules: true
        ref: ${{ steps.branch-names.outputs.current_branch }}
        fetch-depth: 100
    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: src
        requirements_path: ./requirements.txt
        sphinx_build_options: --conf-dir .
        cache: true
        python_version: 3.12
        checkout: false
        publish: ${{ github.ref_name == 'master' }}
