# https://github.com/actions/starter-workflows/blob/main/pages/static.yml
name: Publish Github Pages

on:
  push:
    branches: [master]
    paths-ignore:
      - .github/workflows/gitee-pages.yml

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  pages:
    name: Publish Github Pages
    runs-on: ubuntu-20.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - name: Setup locale
      run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - name: Install dependencies
      uses: awalsh128/cache-apt-pkgs-action@v1.2.0
      with:
        packages: lilypond timidity imagemagick fonts-noto-cjk graphviz plantuml ffmpeg
    - name: Build documentation
      uses: sphinx-notes/pages@cache2
      with:
        documentation_path: .
        requirements_path: ./requirements.txt
        cache: true
