name: Publish Github Pages
on:
  push:
    branches: [master]
    paths-ignore:
      - .github/workflows/gitee-pages.yml

jobs:
  pages:
    name: Publish Github Pages
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        # Required by chetan/git-restore-mtime-action and sphinx-notes@pages
        fetch-depth: 0
    - name: Fix timestamps
      uses: chetan/git-restore-mtime-action@master
    - name: Setup locale
      run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - name: Install dependencies
      uses: awalsh128/cache-apt-pkgs-action@v1.2.0
      with:
        packages: lilypond timidity imagemagick fonts-noto-cjk graphviz plantuml ffmpeg
    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Cache
      uses: actions/cache@v3
      with:
        path: /tmp/sphinxnotes-pages
        key: ${{ runner.os }}-Sphinx-Github2
    - name: Build and Commit
      uses: sphinx-notes/pages@cache2
      with:
        documentation_path: .
        requirements_path: ./requirements.txt
        sphinx_version: 4.5.0
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
